{% extends "base.html" %}

{% block content %}
<h3 class="fw-bold mb-4">Lista de Visitantes</h3>

<table class="table table-hover table-striped">
    <thead class="table-primary">
        <tr>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        {% for v in visitantes %}
        <tr>
            <td>{{ v.nombre }}</td>
            <td>{{ v.empresa }}</td>
            <td>{{ v.hora_entrada.strftime('%d/%m/%Y %H:%M') }}</td>
            <td>
                {% if v.hora_salida %}
                    {{ v.hora_salida.strftime('%d/%m/%Y %H:%M') }}
                {% else %}
                    <span class="text-danger fw-bold">Pendiente</span>
                {% endif %}
            </td>

            <td>
                {% if not v.hora_salida %}
                <form method="POST" action="{{ url_for('registrar_salida', visitor_id=v.id) }}">
                    <button class="btn btn-sm btn-success">Registrar salida</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

